<header class="py-3 d-flex justify-content-between container">
  <div class="logo">GARDBNB</div>
  <div class="form">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </div>
  </div>
</header>
