<header class="py-3 d-flex justify-content-between container align-items-center">
  <h1><%= link_to "GARDBNB", flats_path, class: "logo" %></h1>
  <%= link_to "Add a flat", new_flat_path, class: "button main-button" %>
</header>
